/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   opacity: 0.9;
   background: url(../images/header-background.jpg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
   background-attachment: fixed;
   z-index: 1;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
.logo {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 22px;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;s
   text-align: center;
}


header .agile_banner_info{ width: 100%; }

/*header.agile_banner_info h2 {
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #ecb731;
	text-shadow: 1px 1px 2px #000;
}
header.agile_banner_info h2 span{
    color: #171717;
}*/
/*header .agile_banner_info h2 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #009900;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);*/
}
header .agile_banner_info h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #009900;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .agile_banner_info h3 span,
header .agile_banner_info h3 a {
   color: #009900;
}
header .agile_banner_info hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #009900;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #009900; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #009900; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 15px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: -30px;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #009900; }


ul#left{
  font: 25px'opensans-bold', sans-serif;
   text-align: left;
   color: #fff;
   margin-left: 75px;
   margin-top: 50px;

   -webkit-transition: color .2s ease-in-out;
   -moz-transition: color .2s ease-in-out;
   -o-transition: color .2s ease-in-out;
   -ms-transition: color .2s ease-in-out;
   transition: color .2s ease-in-out;

}

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }
ul#nav {
   min-height: 30px;
   width: auto;
   margin-top: -25px;
   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 50px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: -10px;
	 text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #ff9900; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #fff;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a, #about a:visited  { color: #0fff; }
#about a:hover, #about a:focus { color: #009900; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #0fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about p strong{
  color: #009900;
}
#about .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #009900;
}
#about .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}


/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
   background: #fff;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#resume a, #resume a:visited  { color: #313131; }
#resume .ul{
  list-style: none;
}
#resume a:hover, #resume a:focus { color: #009900; }

#resume h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#resume h1 span {
   border-bottom: 3px solid #009900;
   padding-bottom: 6px;
}
#resume h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#resume .header-col { padding-top: 9px; }
#resume .main-col { padding-right: 10%; }
.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#resume .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 36px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 42px;
  	border-radius: 3px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #313131;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
  	background: #313131;
   display: inline-block;
  	height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}

.photoshop {
  	width: 60%;
  	-moz-animation: photoshop 2s ease;
  	-webkit-animation: photoshop 2s ease;
}
.illustrator {
  	width: 55%;
  	-moz-animation: illustrator 2s ease;
  	-webkit-animation: illustrator 2s ease;
}
.wordpress {
  	width: 50%;
  	-moz-animation: wordpress 2s ease;
  	-webkit-animation: wordpress 2s ease;
}
.css {
  	width: 90%;
  	-moz-animation: css 2s ease;
  	-webkit-animation: css 2s ease;
}
.html5 {
  	width: 80%;
  	-moz-animation: html5 2s ease;
  	-webkit-animation: html5 2s ease;
}
.jquery {
  	width: 50%;
  	-moz-animation: jquery 2s ease;
  	-webkit-animation: jquery 2s ease;
}

@-moz-keyframes photoshop {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-moz-keyframes illustrator {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-moz-keyframes wordpress {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-moz-keyframes css {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-moz-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes jquery {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}

@-webkit-keyframes photoshop {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-webkit-keyframes illustrator {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-webkit-keyframes wordpress {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes css {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-webkit-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes jquery {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
   background: #ebeeee;
   padding-top: 90px;
   padding-bottom: 60px;
}
#portfolio h1 {
   font: 15px/24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #95A3A3;
}

/* Portfolio Content */
#portfolio-wrapper .columns { margin-bottom: 36px; }
.portfolio-item .item-wrap {
   background:  #fff;
   overflow: hidden;
   position: relative;

   -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.portfolio-item .item-wrap a {
   display: block;
   cursor: pointer;
   height: 200px;
}

/* overlay */
.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   background: url(../images/overlay-bg.png) repeat;
}
.portfolio-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   height: 30px;
   width: 30px;
   font-size: 18px;
   line-height: 30px;
   text-align: center;

   opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 100%;
   left: 1000%;
   margin-left: -15px;
   margin-top: -15px;
}
.portfolio-item .item-wrap img {
   vertical-align: middle;
}
.portfolio-item .portfolio-item-meta { padding: 18px }
.portfolio-item .portfolio-item-meta h5 {
   font: 14px/21px 'opensans-bold', sans-serif;
   color: #fff;
}
.portfolio-item .portfolio-item-meta p {
   font: 12px/18px 'opensans-light', sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
}

/* on hover */
.portfolio-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
.portfolio-item:hover .link-icon {
   opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

/* popup modal */
.popup-modal {
	max-width: 550px;
	background: #fff;
	position: relative;
	margin: 0 auto;
}
.popup-modal .description-box { padding: 12px 36px 18px 36px; }
.popup-modal .description-box h4 {
   font: 15px/24px 'opensans-bold', sans-serif;
	margin-bottom: 12px;
   color: #111;
}
.popup-modal .description-box p {
	font: 14px/24px 'opensans-regular', sans-serif;
   color: #A1A1A1;
   margin-bottom: 12px;
}
.popup-modal .description-box .categories {
   font: 11px/21px 'opensans-light', sans-serif;
   color: #A1A1A1;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: block;
   text-align: left;
}
.popup-modal .description-box .categories i {
   margin-right: 8px;
}
.popup-modal .link-box {
   padding: 18px 36px;
   background: #111;
   text-align: left;
}
.popup-modal .link-box a {
   color: #fff;
	font: 11px/21px 'opensans-bold', sans-serif;
	text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}
.popup-modal a:hover {	color: #00CCCC; }
.popup-modal a.popup-modal-dismiss { margin-left: 24px; }


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
   opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
   background: #212121;
   padding-top: 66px;
   padding-bottom: 48px;
}
#call-to-action h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}
#call-to-action h1 span { display: none; }
#call-to-action .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f0ac";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}
#call-to-action .action {
   margin-top: 12px;
}
#call-to-action h2 {
   font: 28px/36px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#call-to-action h2 a {
   color: inherit;
}
#call-to-action p {
   color: #636363;
   font-size: 17px;
}
/*#
call-to-action .button {
	color:#fff;
   background: #0D0D0D;
}
*/
#call-to-action .button:hover,
#call-to-action .button:active {
   background: #FFFFFF;
   color: #0D0D0D;
}
#call-to-action p span {
	font-family: 'opensans-semibold', sans-serif;
	color: #D8D8D8;
}

/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

#testimonials {
   background: #1F1F1F url(../images/testimonials-bg.jpg) no-repeat center center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   background-attachment: fixed;

   position: relative;
   min-height: 200px;
   width: 100%;
   overflow: hidden;
}
#testimonials .text-container {
   padding-top: 96px;
   padding-bottom: 66px;
}
#testimonials h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}
#testimonials h1 span { display: none; }
#testimonials .header-col { padding-top: 9px; }
#testimonials .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f10d";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}

/*	Blockquotes */
#testimonials blockquote {
   margin: 0 0px 30px 0px;
   padding-left: 0;
   position: relative;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
#testimonials blockquote:before { content: none; }
#testimonials blockquote p {
   font-family: 'librebaskerville-italic', serif;
   padding: 0;
   font-size: 24px;
   line-height: 48px;
   color: #fff
}
#testimonials blockquote cite {
   display: block;
   font-size: 12px;
   font-style: normal;
   line-height: 18px;
   color: #fff;
}
#testimonials blockquote cite:before { content: "\2014 \0020"; }
#testimonials blockquote cite a,
#testimonials blockquote cite a:visited { color: #8B9798; border: none }

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* Slider Styles */
.slides { zoom: 1; }
.slides > li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: #ebeeee;
   padding-top: 96px;
   padding-bottom: 102px;
   color: #7A7A7A;
}
#contact .section-head { margin-bottom: 42px; }

#contact a, #contact a:visited  { color: #0fff ; }
#contact a:hover, #contact a:focus { color: #009900; }

#contact h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #009900;
   margin-bottom: 6px;
}
#contact h1 span { display: none; }
#contact .mobile:after {
  font-family: 'FontAwesome';
  content: "\f0e0";
  padding-right: 10px;
  font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  color:#009900;
}

#contact h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   color:#0fff;
   margin-bottom: 6px;
}
#contact p.lead {
   font: 18px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}
#contact .header-col { padding-top: 6px; }


/* contact form */
#contact form { margin-bottom: 30px; }
#contact label {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin: 12px 0;
   color: #0fff;
	display: inline-block;
	float: left;
   width: 26%;
}
#contact input,
#contact textarea,
#contact select {
   padding: 18px 20px;
	color:#0fff;
	background: #fff;
	margin-bottom: 42px;
	border: 0;
	outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	color: #0fff;
	background-color: #0fff
}
#contact button.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:#fff;
   background: #009900;
	border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
	border-radius: 3px;
   margin-left: 26%;
}
#contact button.submit:hover {
	color: #0D0D0D;
	background: #fff;
}
#contact span.required {
	color:#009900;
	font-size: 13px;
}
#message-warning, #message-success {
   display: none;
	background: #0F0F0F;
	padding: 24px 24px;
	margin-bottom: 36px;
   width: 65%;
   margin-left: 26%;
}
#message-warning { color: #D72828; }
#message-success { color: #009900; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}
#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 20px;
   margin-bottom: 20px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
   background: #fff;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #009900; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 10px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #009900; }

/*-- //banner --*/

#typed {
    font-size: 2em;
    font-weight:bolder;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.5em;
    letter-spacing: 7px;
    font-weight: 300;
    text-shadow: 1px 1px 2px #000;
    margin: 0.5em 0 0.5em;
    display: inline-block;
}
#typed i {
    font-style: normal;
    color: #ecb731;
}
.typed-cursor {
    opacity: 1;
    font-weight: 300;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #fff;
    font-size: 2.5em;
}

/*--responsive--*/
/*@media(max-width:1600px){

}
@media(max-width:1440px){
	.banner {
		min-height: 600px;
	}
	.banner-image-w3layouts img {
		width: 315px;
	}
	.agile_banner_info h2 {
		font-size: 2.2em;
	}
	#typed {
		font-size: 1.6em;
		margin: 0em 0 0.5em;
	}
	p.banner-p-w3ls {
		font-size: 16px;
		line-height: 31px;
	}
	.agile_banner_info {
		margin: 6em 0 0em 14em;
	}
	.w3_agileits_social_media {
		left: 1.8em;
		top: 13.5em;
	}
	.person-info-agileits-w3layouts {
		padding: 4em;
	}
	.about-left-w3ls {
		min-height: 753px;
	}
	.person-info-agileits-w3layouts ul {
		margin-top: 2em;
	}
	.mobile-menu ul li a {
		font-size: .9em;
		padding: 0.8em 0 0.8em 1.5em;
		letter-spacing: 2px;
	}
	.mobile-menu ul {
		padding-top: 7em;
	}
	.search-agileits {
		margin: 1em 1.5em 4em;
	}
	.gallery_wthree, .work, .services, .skills-agileinfo, .mid-w3layouts {
		padding: 4em 0em;
	}
	.w3_head {
		margin: 0 0 0.9em;
		font-size: 2.3em;
	}
	.contact-info {
		padding: 3em 0 2.5em;
	}
	.mobile-menu {
		width: 24%;
		right:-24%;
	}
	section.mid-w3layouts h3 {
		font-size: 2.3em;
	}
}
@media(max-width:1366px){
	.w3_agile_logo h1 a {
		font-size: 1.06em;
		letter-spacing: 4px;
	}
	.w3_agile_logo h1 a span {
		letter-spacing: 11px;
		padding: 5px 0px 5px 13px;
	}
	.mobile-nav-button {
		margin: 3.7em 0em 0;
		right: 3%;
	}
	.agile_banner_info {
		margin: 6.3em 0 0em 12em;
	}
}
@media(max-width:1280px){
	.person-info-agileits-w3layouts {
		padding: 4em 3em;
	}
	.about-left-w3ls h5 {
		font-size: 2em;
		letter-spacing: 3px;
		line-height: 29px;
	}
}
@media(max-width:1080px){
	.banner {
		min-height: 535px;
	}
	.banner-image-w3layouts img {
		width: 275px;
	}
	.agile_banner_info h2 {
		font-size: 2em;
	}
	#typed {
		font-size: 1.3em;
		letter-spacing: 5px;
	}
	p.banner-p-w3ls {
		letter-spacing: 2px;
		width: 56%;
	}
	.agile_banner_info {
		margin: 5em 0 0em 12em;
	}
	.w3_agileits_social_media ul li {
		margin-bottom: 1.3em;
	}
	.w3_agileits_social_media {
		top: 12.5em;
	}
	.person-info-agileits-w3layouts {
		padding: 3em 3em;
	}
	.person-info-agileits-w3layouts ul li {
		margin-bottom: 20px;
	}
	.about-left-w3ls {
		min-height: 715px;
	}
	.about-left-w3ls h5 {
		margin: 5em 1.5em 0 0;
	}
	.bar-grids {
		width: 48.1%;
	}
	.bargrids-left {
		margin-right: 35px;
	}
	.agileits_service_grid_btm_left2 h5 {
		font-size: 1.3em;
	}
	.grid-c.grid_w3l {
		margin-right: 0.8em;
	}
	.sub_grid.gallery_w3l, .grid-2 {
		margin-top: 0.8em;
	}
	.grid-1 .w3agile-text h5 {
		padding: 4.5em 0 0;
	}
	.w3agile-text.w3agile-text-small h5, .grid_w3l .w3agile-text h5 {
		padding: 3.7em 0 0;
	}
	.contact-agileits-w3layouts {
		padding: 35px 35px;
	}
	.mobile-menu ul {
		padding-top: 5.2em;
	}
}
@media(max-width:1050px){
	.w3_head {
		margin: 0 0 0.7em;
		font-size: 2em;
	}
	section.mid-w3layouts h3 {
		font-size: 2em;
	}
	.gallery_wthree, .work, .services, .skills-agileinfo, .mid-w3layouts {
		padding: 3em 0em;
	}
	.bar-grids h4 {
		font-size: 1.4em;
	}
	.work h5, .contact-grids h5 {
		font-size: 17px;
		margin-bottom: 0.6em;
	}
	.work-right-w3-agileits h3 {
		font-size: 20px;
	}
	.work-right-w3-agileits h3 span {
		font-size: 20px!important;
	}
	.work h5:before, .contact-grids h5:before {
		width: 81px;
		top: 28px;
	}
	.work-right-w3-agileits h3 {
		font-size: 22px;
		margin-bottom: 8px;
	}
	.work-right-w3-agileits h3 span {
		font-size: 22px!important;
	}
	h3.w3_head.w3_head1 span {
		font-size: 12px;
	}
}
@media(max-width:1024px){
	.about-left-w3ls h5 {
		font-size: 1.8em;
		letter-spacing: 1px;
		line-height: 26px;
	}
	.about-left-w3ls {
		min-height: 699px;
	}
	.mobile-menu {
		width: 30%;
		right: -30%;
	}
}
@media(max-width:991px){
	.banner {
		min-height: 500px;
	}
	.banner-image-w3layouts img {
		width: 254px;
	}
	.agile_banner_info h2 {
		font-size: 1.8em;
	}
	#typed {
		font-size: 1.1em;
		letter-spacing: 4px;
		line-height: 1em;
	}
	p.banner-p-w3ls {
		letter-spacing: 2px;
		font-size: 14px;
	}
	.typed-cursor {
		font-size: 2em;
	}
	.w3_agileits_social_media {
		top: 11.5em;
	}
	.about-left-w3ls {
		min-height: 415px;
		background: url(../images/about.jpg)no-repeat 0px -212px;
		background-size: cover;
		z-index: 1;
	}
	.about-left-w3ls h5 {
		margin: 6em 7.5em 0 0;
	}
	.person-info-agileits-w3layouts {
		padding: 3em 8em 0;
	}
	.bar-grids {
		width: 100%;
	}
	.bargrids-left {
		margin-right: 0;
		margin-bottom: 2em;
	}
	.work-left-agileits-w3layouts {
		margin-bottom: 1em;
	}
	.agileits_service_grid_btm_left1 img {
		width: 100%;
	}
	.agileits_service_grid_btm_left {
		margin-bottom: 2em;
	}
	.agileits_service_grid_btm_left:nth-child(3) {
		margin-bottom: 0!important;
	}
	.grid-1 img {
		width: 100%;
	}
	.grid_w3 {
		width: 100%;
	}
	.sub_grid.gallery_w3l {
		margin-bottom: .8em;
	}
	.grid-1 .w3agile-text h5 {
		padding: 7.5em 0 0;
	}
	.w3agile-text.w3agile-text-small h5, .grid_w3l .w3agile-text h5 {
		padding: 6em 0 0;
	}
	.contact-agileits-w3layouts {
		padding: 3em 8em;
	}
	.contact-grids {
		width: 100%;
		float: left;
		margin-bottom: 2em;
	}
	.contact-grids h5 {
		font-size: 14px!important;
		padding-bottom: 8px!important;
		margin-bottom: 01em!important;
	}
	.contact-grids h5:before {
		top: 22px!important;
		width: 58px!important;
	}
	.contact-grids:nth-child(3) {
		margin-bottom: 0!important;
	}
	.contact-grids:nth-child(3) {
		margin-bottom: 1em!important;
	}
	.callbacks_nav {
		top: 206%;
	}
	a.callbacks_nav.callbacks1_nav.prev {
		left: -1%;
	}
	.callbacks_nav.next {
		left: 5%;
	}
	.grid_w3l {
		width: 49%;
	}
	.contact-mid ul li ,.callbacks_container ul li{
		font-size: 14px;
	}
	.contact-mid ul li:nth-child(3) {
		margin-bottom: 0!important;
	}
}
@media(max-width:900px){
	.banner-image-w3layouts img {
		right: 4%;
	}
	.about-left-w3ls {
		background: url(../images/about.jpg)no-repeat 0px -183px;
		background-size: cover;
	}
	.about-left-w3ls h5 {
		margin: 6em 6.5em 0 0;
	}
	.person-info-agileits-w3layouts {
		padding: 3em 4.5em 0;
	}
	.contact-agileits-w3layouts {
		padding: 3em 5.5em;
	}
	#map {
		height: 300px;
	}
}
@media(max-width:800px){
	.w3_agile_logo h1 a {
		font-size: 0.9em;
	}
	.w3_agile_logo h1 a span {
		letter-spacing: 10px;
		padding: 4px 0px 4px 11px;
	}
	.agile_banner_info {
		margin: 5em 0 0em 10em;
	}
	.mobile-menu ul li a {
		font-size: .8em;
	}
	.header {
		padding: 1.5em 2em;
	}
	.mobile-nav-button {
		margin: 3em 0em 0;
		right: 4%;
	}
	.mobile-menu ul {
		padding-top: 6em;
	}
	.mobile-menu {
		width: 35%;
		right: -35%;
	}
	.banner {
		min-height: 450px;
	}
	.banner-image-w3layouts img {
		width: 225px;
	}
	.agile_banner_info h2 {
		font-size: 1.6em;
	}
	#typed {
		font-size: 1em;
	}
	.typed-cursor {
		font-size: 1.6em;
	}
	p.banner-p-w3ls {
		letter-spacing: 1px;
		font-size: 14px;
		width: 55%;
		line-height: 24px;
	}
	#typed {
		margin: 0em 0 0.8em;
	}
	.w3_agileits_social_media ul li {
		margin-bottom: 1.1em;
	}
	.w3_agileits_social_media {
		top: 10em;
	}
	.about-left-w3ls h5 {
		margin: 6em 5.5em 0 0;
	}
	.person-info-agileits-w3layouts {
		padding: 2em 1.8em 0;
	}
	.w3_head {
		margin: 0 0 0.6em;
		font-size: 1.8em;
		letter-spacing: 1.5px;
	}
	h3.w3_head.w3_head1 span {
		font-size: 11px;
		letter-spacing: 3px;
		margin-top: 4px;
	}
	section.mid-w3layouts h3 {
		font-size: 1.8em;
		margin: 0.4em 0 0.8em;
		letter-spacing: 1px;
	}
	.progress {
		height: 15px;
		margin-bottom: 1.3em;
	}
	.bar-grids h6 {
		font-size: 0.8em;
	}
	.bar-grids h4 {
		font-size: 1.34em;
		margin-bottom: 1.2em;
	}
	.contact-agileits-w3layouts {
		padding: 2em 1.8em;
	}
	.contact-info {
		padding: 1.8em 0 2em;
	}
	.contact-grids {
		margin-bottom: 1.3em;
	}
	.w3_agileits_social_media {
		left: 1em;
	}
}
@media(max-width:768px){
	.banner {
		min-height: 415px;
	}
	.banner-image-w3layouts img {
		width: 210px;
	}
	.w3_agileits_social_media {
		top: 9em;
	}
	.about-left-w3ls {
		min-height: 340px;
		background: url(../images/about.jpg)no-repeat 0px -159px;
		background-size: cover;
	}
	.gallery_wthree, .work, .services, .skills-agileinfo, .mid-w3layouts {
		padding: 2em 0em;
	}
	.person-info-agileits-w3layouts {
		padding: 2em 1em 0;
	}
	.person-info-agileits-w3layouts ul li {
		margin-bottom: 15px;
	}
	.person-info-agileits-w3layouts ul {
		margin-top: 1.2em;
	}
	.work h5{
		margin-left: 16px;
	}
	.contact-agileits-w3layouts {
		padding: 2em 1em;
	}
	.agile_banner_info {
		margin: 4.5em 0 0em 10em;
	}
	.about-left-w3ls h5 {
		margin: 5em 4.5em 0 0;
	}
}
@media(max-width:767px){

}
@media(max-width:736px){
	.banner {
		min-height: 380px;
	}
	.banner-image-w3layouts img {
		width: 185px;
	}
	.agile_banner_info {
		margin: 3.5em 0 0em 10em;
	}
	.w3_agileits_social_media ul li a {
		width: 30px;
		height: 30px;
		padding:3px 0 0 0;
	}
	.w3_agileits_social_media ul li a i {
		font-size: 13px;
	}
	.w3_agileits_social_media-footer ul li a {
		width: 30px;
		height: 30px;
	}
	.w3_agileits_social_media-footer ul li a i{
		font-size:13px;
	}
}
@media(max-width:667px){
	.grid-1 .w3agile-text h5 {
		padding: 9em 0 0;
		font-size: 1.5em;
	}
	.grid-c.grid_w3l {
		margin-right: 0.7em;
	}
	.w3agile-text.w3agile-text-small h5, .grid_w3l .w3agile-text h5 {
		padding: 7em 0 0;
	}
	.mobile-menu ul li a {
		font-size: .72em;
		padding: 1em 0 1em 1.5em;
	}
	.mobile-menu {
		width: 42%;
		right: -42%;
	}
	.agile_banner_info {
		margin: 3.5em 0 0em 7em;
	}
}
@media(max-width:640px){
	.about-left-w3ls h5 {
		font-size: 1.6em;
		line-height: 24px;
	}
}
@media(max-width:600px){
	.agile_banner_info h2 {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	#typed {
		font-size: 0.9em;
		letter-spacing: 3px;
	}
	p.banner-p-w3ls {
		width: 61%;
	}
	.agile_banner_info {
		margin: 3.5em 0 0em 5.5em;
	}
	.person-info-agileits-w3layouts p ,.work-right-w3-agileits p,.agileits_service_grid_btm_left2 p{
		font-size: 14px;
		letter-spacing: 0.5px;
		line-height:30px;
	}
	.person-info-agileits-w3layouts ul li span {
		font-size: 14.5px;
	}
	.person-info-agileits-w3layouts ul li {
		font-size: 14px;
		letter-spacing: 0.8px;
	}
	.person-info-agileits-w3layouts ul li a.botton-w3ls {
		padding: 7px 16px;
		font-size: 14px;
		margin: 5px 5px 0 0px;
	}
	.w3_head {
		font-size: 1.6em;
	}
	.work h5 {
		font-size: 16px;
		margin-bottom: 0.6em;
	}
	.work-right-w3-agileits h3 {
		font-size: 18px;
	}
	.work-right-w3-agileits h3 span {
		font-size: 18px!important;
	}
	.work-info-agileits {
		margin-top: 1.5em;
	}
	.work-left-agileits-w3layouts h6 {
		font-size: 16px;
	}
	.work-left-agileits-w3layouts h6 i {
		padding-right: 5px;
	}
	.bar-grids h4 span.glyphicon {
		margin-right: 0.4em;
	}
	section.mid-w3layouts h3 {
		font-size: 1.6em;
		letter-spacing: 1.5px;
	}
	section.mid-w3layouts a {
		padding: 7px 21px;
		font-size: 14px;
	}
	.agileits_service_grid_btm_left2 {
		padding: 1.5em 1.5em;
	}
	.grid-1 .w3agile-text h5 {
		padding: 8em 0 0;
	}
	.grid-c.grid_w3l {
		margin-right: 0.6em;
	}
	.sub_grid.gallery_w3l, .grid-2 {
		margin-top: 0.6em;
	}
	.sub_grid.gallery_w3l {
		margin-bottom: .6em;
	}
	.person-info-agileits-w3layouts p span {
		font-size: 16px;
	}
	.grid-1 .w3agile-text h5 {
		padding: 6.5em 0 0;
	}
	.contact-agileits-w3layouts input[type="submit"] {
		padding: 7px 30px;
		font-size: 14px;
	}
}
@media(max-width:568px){
	.mobile-nav-button {
		margin: 2.6em 0em 0;
	}
	.banner {
		min-height: 330px;
	}
	.banner-image-w3layouts img {
		width: 160px;
	}
	.header {
		padding: 1.5em 2em 0;
	}
	.agile_banner_info {
		margin: 4em 0 0em 5.5em;
	}
	.w3_agileits_social_media {
		top: 7.5em;
	}
	.about-left-w3ls {
		min-height: 270px;
		background: url(../images/about.jpg)no-repeat 0px -112px;
		background-size: cover;
	}
	.about-left-w3ls h5 {
		margin: 4em 3.5em 0 0;
	}
	.grid-1 .w3agile-text h5 {
		padding: 7.5em 0 0;
	}
	.grid-1 .w3agile-text h5 {
		padding: 6em 0 0;
	}
	.grid-1 .w3agile-text h5 {
		padding: 7em 0 0;
	}
	.copy-w3-agile p {
		font-size: 13px;
	}
	.w3agile-text.w3agile-text-small h5, .grid_w3l .w3agile-text h5 {
		padding: 6em 0 0;
	}
}
@media(max-width:480px){
	.banner-image-w3layouts img {
		width: 131px;
	}
	.agile_banner_info {
		margin: 2.5em 0 0em 5.5em;
	}
	.w3_agileits_social_media ul li {
		margin-bottom: 1em;
	}
	.w3_agileits_social_media {
		top: 19em;
	}
	.banner {
		min-height: 305px;
	}
	.grid_w3l {
		width: 48.8%;
	}
	.grid-1 .w3agile-text h5 {
		padding: 5em 0 0;
	}
	.callbacks_nav {
		top: 167%;
	}
	.callbacks_nav.next {
		left: 7%;
	}
	.search-agileits {
		margin: 1em 1.1em 4em;
	}
	.mobile-menu {
		width: 50%;
		right: -50%;
	}
	.about-left-w3ls h5 {
		margin: 3.5em 2.5em 0 0;
	}
	.banner-image-w3layouts img {
		width: 180px;
		right: 6%;
	}
	.agile_banner_info {
		margin: 3em 0 0em 2.3em;
	}
	.banner {
		min-height: 32em;
	}
	p.banner-p-w3ls {
		width: 90%;
	}
	.copy-w3-agile p {
		font-size: 12.5px;
		line-height: 28px;
	}
}
@media(max-width:440px){
	.search-agileits input[type="search"] {
		padding: 6px 74px 6px 15px;
	}
	.mobile-menu {
		width: 64%;
		right: -64%;
	}
	.about-left-w3ls {
		min-height: 239px;
		background: url(../images/about.jpg)no-repeat 0px -88px;
		background-size: cover;
	}
	.grid-c.grid_w3l {
		margin-right: 0;
		width: 100%;
		margin-bottom: 0.6em;
	}
	.grid_w3l {
		width: 100%;
	}
	.grid-1 .w3agile-text h5 {
		padding: 5.5em 0 0;
	}
	.full-height-w3 h5 {
		padding: 9.5em 0 0!important;
	}
	.copy-w3-agile {
		padding: 1em 1.5em;
	}
}
@media(max-width:414px){
	.banner {
		min-height: 29em;
	}
	.w3_agileits_social_media {
		top: 16.2em;
		left: 0.8em;
	}
	.banner-image-w3layouts img {
		width: 157px;
		right: 6%;
	}
	.agile_banner_info {
		margin: 2em 0 0em 1.5em;
	}
	.header {
		padding: 1.2em 1.5em 0;
	}
	.about-left-w3ls h5 {
		margin: 3em 2em 0 0;
	}
	.grid-1 .w3agile-text h5 {
		padding: 5em 0 0;
	}
	.full-height-w3 h5 {
		padding: 8.5em 0 0!important;
	}
	#map {
		height: 235px;
	}
	#toTop {
		bottom: 21px;
		right: 13px;
	}
	.callbacks_nav.next {
		left: 12%;
	}
}
@media(max-width:384px){
	.w3_agile_logo h1 a {
		font-size: 0.8em;
	}
	.w3_agile_logo h1 a span {
		letter-spacing: 9px;
	}
	.about-left-w3ls {
		background: url(../images/about.jpg)no-repeat 0px -77px;
		background-size: cover;
	}
	.mobile-menu {
		width: 80%;
		right: -80%;
	}
	.grid-1 .w3agile-text h5 {
		padding: 4.5em 0 0;
	}
	.full-height-w3 h5 {
		padding: 8em 0 0!important;
	}
}
@media(max-width:375px){
	.banner-image-w3layouts img {
		width: 145px;
		right: 6%;
	}
	.about-left-w3ls h5 {
		font-size: 1.4em;
		line-height: 21px;
	}
}
@media(max-width:320px){
	.mobile-menu ul {
		padding-top: 5em;
	}
	.mobile-menu ul li {
		margin-bottom: 1em;
	}
	.search-agileits {
		margin: 1em 1.1em 2em;
	}
	.about-left-w3ls h5 {
		margin: 2em 1em 0 0;
	}
	.person-info-agileits-w3layouts ul li span {
		width: 115px;
	}
	.person-info-agileits-w3layouts ul li a.botton-w3ls {
		margin: 5px 2px 0 0px;
	}
	section.mid-w3layouts h3 {
		font-size: 1.41em;
		letter-spacing: 1px;
	}
	.w3_head {
		font-size: 1.5em;
	}
	.grid-1 .w3agile-text h5 {
		padding: 3.5em 0 0;
	}
	.work-right-w3-agileits h3 {
		line-height: 30px;
	}
	.full-height-w3 h5 {
		padding: 6em 0 0!important;
	}
}*/
/*--responsive--*/
